fastapi
gunicorn
uvicorn
sentry-sdk[fastapi]
fastapi-analytics
boto3
aiohttp
redis
numpy
torch
scikit-learn
librosa
python-multipart
parsel
asyncpg
lyricsgenius
git+https://github.com/proguy914629bot/ShazamIO
openai